@{
    ViewData["Title"] = "About ";
}
<table>

    <p>- It is done with Asp.Net Core Web App (mvc) using .NET 6.0  </p>
    <p>- For the coding "Visual Studio 2022" </p>
    <p>- For the database "Microsoft SQL Server Management Studio 2018" </p>
    <p>- For the database we use "Code First" approach</p>
    <p>- Crude opertaion with basic functionalities </p>
   

</table>
